<div class="card">
  <div class="card-header">
    <div class="text-center">
      <h4>Fornecedores</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Comentário</th>
          <th>CNPJ</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lucas</td>
          <td>Lucas@fornec.com.br</td>
          <td>comentario para lucas da silva pereira</td>
          <td>716278362173</td>
          <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
          <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
        </tr>
        <tr>
          <td>Lucas</td>
          <td>Lucas@fornec.com.br</td>
          <td>comentario para lucas da silva pereira</td>
          <td>716278362173</td>
          <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
          <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>