<div class="card container">
  <div class="card-header">
    <div class="row">
      <h4 class="col-10 text-center">Fornecedores</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="fornecedores?.length > 0; else loading">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Comentário</th>
          <th>CNPJ</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
          <td style="display:none;">{{fornecedor.id}}</td>
          <td>{{fornecedor.nome}}</td>
          <td>{{fornecedor.email}}</td>
          <td>{{fornecedor.comentario}}</td>
          <td>{{fornecedor.cnpj}}</td>
          <td><button type="button" class="btn btn-outline-warning" (click)="editarFornecedor(fornecedor.id)">Editar</button></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="excluirFornecedor(fornecedor.id)">Excluir</button></td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando Fornecedores...</span>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Deseja excluir o fornecedor selecionado ?</p>
    <button type="button" class="btn btn-default" (click)="confirmarExclusao()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="cancelarExclusao()">Não</button>
  </div>
</ng-template>