<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h1>
      {{ title }}
    </h1>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button type="button" routerLink="novo" class="btn nav-item nav-link active" id="nav-home-tab" routerLinkActive="active">Inserir</button>
      <button type="button" routerLink="listar" class="btn nav-item nav-link " id="nav-profile-tab" routerLinkActive="active">Listar</button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
